@import "tailwindcss";

@theme {
  --color-primary: #64ffda;
  --color-primary-light: rgba(100, 255, 218, 0.1);
  --color-background-dark: #0a192f;
  --color-background-light: #112240;
  --color-text-bright: #e6f1ff;
  --color-text-dim: #8892b0;
  --color-text-normal: #ccd6f6;
  
  --font-inter: "Inter", sans-serif;
}

:root {
  --background: #0a192f;
  --foreground: #ccd6f6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #495670;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64ffda;
}

